Repository anchildress1/system-notes: changes, and which lefthook commands are due for each by the changed paths.
All: lint-js, lint-py

lefthook.yml:

# lefthook.yml
pre-commit:
  parallel: true
  commands:
    lint-js:
      glob: "*.{js,ts,jsx,tsx,json}"
      run: npx turbo run lint --filter={staged_files}
    lint-py:
      glob: "*.py"
      run: cd apps/api && .venv/bin/ruff check {staged_files} && .venv/bin/ruff format --check {staged_files}

commit-msg:
  commands:
    commitlint:
      run: npx --no-install commitlint --edit

feat(web): overhaul UI with fluid animations & rai-lint banner
  apps/web/package.json
  apps/web/src/app/globals.css
  apps/web/src/app/page.module.css
  apps/web/src/app/page.tsx
  apps/web/src/components/AIChat/AIChat.module.css
  apps/web/src/components/AIChat/AIChat.tsx
  apps/web/src/components/Header/Header.module.css
  apps/web/src/components/Header/Header.tsx
  apps/web/src/components/ProjectGrid/ProjectGrid.module.css
  apps/web/src/components/ProjectGrid/ProjectGrid.test.tsx
  apps/web/src/components/ProjectGrid/ProjectGrid.tsx
  apps/web/src/components/SocialBanner/SocialBanner.module.css
  apps/web/src/components/SocialBanner/SocialBanner.test.tsx
  apps/web/src/components/SocialBanner/SocialBanner.tsx
  apps/web/vitest.config.ts
Due: lint-js

feat(web): update UI with split project grids and modal details
  apps/web/src/app/globals.css
  apps/web/src/components/ProjectCard/ProjectCard.module.css
  apps/web/src/components/ProjectCard/ProjectCard.tsx
  apps/web/src/components/ProjectGrid/ProjectGrid.module.css
  apps/web/src/components/ProjectGrid/ProjectGrid.test.tsx
  apps/web/src/components/ProjectGrid/ProjectGrid.tsx
  apps/web/src/components/ProjectModal/ProjectModal.module.css
  apps/web/src/components/ProjectModal/ProjectModal.tsx
  apps/web/src/components/SocialBanner/SocialBanner.module.css
  apps/web/src/components/SocialBanner/SocialBanner.test.tsx
  apps/web/src/components/SocialBanner/SocialBanner.tsx
  apps/web/src/data/projects.ts
  package-lock.json
Due: lint-js

feat(web): refine UI with 1.91:1 cards, centralized intro, and unified 'gray' palette
  apps/web/src/app/globals.css
  apps/web/src/app/page.tsx
  apps/web/src/components/ProjectCard/ProjectCard.module.css
  apps/web/src/components/ProjectModal/ProjectModal.module.css
  apps/web/src/components/ProjectModal/ProjectModal.tsx
  apps/web/src/components/SocialBanner/SocialBanner.module.css
  apps/web/src/components/SocialBanner/SocialBanner.tsx
Due: lint-js

feat(web): scrollable banner and image optimization
  apps/web/package.json
  apps/web/src/components/ExpandedView/ExpandedView.module.css
  apps/web/src/components/ExpandedView/ExpandedView.tsx
Due: lint-js

feat(web): redesign expanded view and update project data
  apps/web/.eslintrc.json
  apps/web/package.json
  apps/web/src/components/ExpandedView/ExpandedView.module.css
  apps/web/src/components/ExpandedView/ExpandedView.tsx
  apps/web/src/data/projects.ts
  package.json
  system-notes.md
Due: lint-js

perf(web): optimize ExpandedView rendering and animations
  apps/web/src/components/ExpandedView/ExpandedView.bench.tsx
  apps/web/src/components/ExpandedView/ExpandedView.module.css
Due: lint-js

feat(web): add docker and cloud run deployment setup
  .dockerignore
  apps/web/Dockerfile
  apps/web/next.config.ts
  apps/web/src/components/ExpandedView/ExpandedView.bench.tsx
  commitlint.config.mjs
  deploy.sh
Due: lint-js

chore: improv deploy script to handle project ID
  deploy.sh
Due: none

feat: optimize ruckus poc, fix formatting, and secure backend
  apps/api/README.md
  apps/api/main.py
  apps/api/pyproject.toml
  apps/api/system_prompt.md
  apps/api/tests/test_chat.py
  apps/api/uv.lock
  apps/web/src/components/AIChat/AIChat.tsx
  assets/system-notes-color-palette-suggestion.png
  assets/system-notes-concept-suggestion.png
  package-lock.json
  package.json
Due: lint-js, lint-py

feat: sync project narratives to permanent system prompt injection
  apps/api/main.py
  apps/api/project_narratives.md
  apps/api/system_prompt.md
  package-lock.json
Due: lint-js, lint-py

chore: configure backend for cloud run deployment
  apps/api/.dockerignore
  apps/api/Dockerfile
  apps/api/deploy.sh
  apps/api/main.py
  apps/api/projects_data.md
Due: lint-py

chore: update deployment configuration and Dockerfiles
  apps/api/Dockerfile
  apps/api/deploy.sh
  apps/api/projects_data.md
  apps/web/Dockerfile
  apps/web/src/components/AIChat/AIChat.tsx
  deploy.sh
  lefthook.yml
Due: lint-js

fix: resolve accessibility issues and update lint configuration
  apps/api/main.py
  apps/web/.eslintrc.json
  apps/web/eslint.config.js
  apps/web/eslint.config.mjs
  apps/web/package.json
  apps/web/src/components/ProjectCard/ProjectCard.tsx
  package-lock.json
Due: lint-js, lint-py

feat: integrate persona content and add UI benchmarks
  apps/api/about_ashley.md
  apps/api/main.py
  apps/api/project_narratives.md
  apps/api/projects.md
  apps/api/projects_data.md
  apps/web/src/components/AIChat/AIChat.bench.tsx
  apps/web/src/components/ProjectCard/ProjectCard.bench.tsx
  apps/web/src/components/ProjectCard/ProjectCard.tsx
  lefthook.yml
  package.json
  turbo.json
Due: lint-js, lint-py

feat: make footer non-sticky and finalize UI V4 polish
  AGENTS.md
  apps/api/prompts/about_ashley.md
  apps/web/src/components/Footer/Footer.module.css
  apps/web/src/components/ProjectCard/ProjectCard.module.css
  playwright-report/index.html
  test-results/.last-run.json
  tests/integration.spec.ts
Due: lint-js

feat: turbo config, seo, and build fixes
  apps/web/Dockerfile
  apps/web/next.config.ts
  apps/web/package.json
  apps/web/src/app/layout.tsx
  apps/web/src/app/robots.ts
  apps/web/src/app/sitemap.ts
  apps/web/src/components/GlitterBomb/GlitterBomb.test.ts
  apps/web/src/components/GlitterBomb/GlitterBomb.tsx
  apps/web/src/components/ProjectCard/ProjectCard.bench.tsx
  tests/integration.spec.ts
  turbo.json
Due: lint-js

style: consolidate definitions and standardize quotes
  apps/web/next.config.ts
  apps/web/package.json
  apps/web/src/app/layout.tsx
  apps/web/src/app/robots.ts
  apps/web/src/app/sitemap.ts
  apps/web/src/components/GlitterBomb/GlitterBomb.test.ts
  apps/web/src/components/ProjectCard/ProjectCard.bench.tsx
  turbo.json
Due: lint-js

fix(agent): inject API URL via env var to resolve connection error
  apps/web/Dockerfile
  apps/web/src/components/AIChat/AIChat.spec.ts
  apps/web/src/components/AIChat/AIChat.tsx
  apps/web/src/config.ts
  deploy.sh
Due: lint-js

feat(ui): add Hero section and About page
  apps/api/main.py
  apps/web/package.json
  apps/web/src/app/about/page.module.css
  apps/web/src/app/about/page.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/AIChat/AIChat.spec.ts
  apps/web/src/components/Header/Header.tsx
  apps/web/src/components/Hero/Hero.module.css
  apps/web/src/components/Hero/Hero.tsx
  package-lock.json
Due: lint-js, lint-py

style(ui): refine AboutHero layout
  apps/api/prompts/about_ashley.md
  apps/web/public/ashley-gen-2.jpg
  apps/web/src/app/about/page.tsx
  apps/web/src/components/AboutHero/AboutHero.module.css
  apps/web/src/components/AboutHero/AboutHero.tsx
  apps/web/src/components/Header/Header.tsx
  tests/integration.spec.ts
Due: lint-js

fix: resolve chat 400 error and enable dynamic about page data load
  apps/api/main.py
  apps/api/prompts/about_ashley.md
  apps/api/prompts/projects.md
  apps/api/prompts/system_prompt.md
  apps/web/src/app/about/page.tsx
  apps/web/src/components/AIChat/AIChat.tsx
Due: lint-js, lint-py

fix(ops): remove duplicate deploy labels and enforce pre-push tests
  deploy.sh
  lefthook.yml
Due: none

fix: resolve hydration issues, about page data structure, and model revert
  apps/api/main.py
  apps/api/prompts/portfolio_canon.md
  apps/api/prompts/projects.md
  apps/api/prompts/system_prompt.md
  apps/web/src/app/about/page.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/AIChat/AIChat.module.css
  apps/web/src/components/AboutHero/AboutHero.tsx
  apps/web/src/components/ExpandedView/ExpandedView.module.css
  apps/web/src/components/ExpandedView/ExpandedView.tsx
  apps/web/src/components/Footer/Footer.tsx
  apps/web/src/context/ChatContext.tsx
  apps/web/src/data/about.json
  tests/integration.spec.ts
Due: lint-js, lint-py

docs(api): refine system prompt tone and identity
  apps/api/prompts/system_prompt.md
  apps/web/src/components/AboutHero/AboutHero.tsx
  apps/web/src/data/about.json
Due: lint-js

fix: resolve hydration issues, chat focus, and update project data/docs
  README.md
  apps/api/prompts/system_prompt.md
  apps/web/public/projects/system-notes.jpg
  apps/web/src/app/layout.tsx
  apps/web/src/components/AIChat/AIChat.tsx
  apps/web/src/components/Footer/Footer.tsx
  apps/web/src/data/projects.ts
  tests/integration.spec.ts
Due: lint-js

fix(cloud-run): resolve agent chat connectivity issues
  apps/api/main.py
  deploy.sh
Due: lint-py

fix(api): disable CORS credentials to allow wildcard origins
  apps/api/main.py
Due: lint-py

fix(api): use explicit CORS origins with credentials
  apps/api/main.py
Due: lint-py

fix(cloud-run): finalize CORS fix and restore backend tests
  .gitignore
  apps/api/package.json
  apps/api/tests/test_chat.py
  test-results/.last-run.json
Due: lint-js, lint-py

feat: replace chat icon with Google Smart Toy and update project data
  apps/web/package.json
  apps/web/src/components/AIChat/AIChat.tsx
  apps/web/src/data/projects.ts
  package-lock.json
Due: lint-js

chore: ensure trailing newline in apps/api/package.json
  apps/api/package.json
Due: lint-js

fix(ui): update chatbot icon to GiBrainDump, fix focus colors, and optimize expanded view animation
  apps/web/src/app/globals.css
  apps/web/src/components/AIChat/AIChat.tsx
  apps/web/src/components/ExpandedView/ExpandedView.tsx
  apps/web/src/components/Footer/Footer.tsx
Due: lint-js

fix(ui): resolve footer overlap and alignment issues
  apps/web/src/app/layout.tsx
  apps/web/src/components/AIChat/AIChat.tsx
  apps/web/src/components/Footer/Footer.module.css
  apps/web/src/components/Footer/Footer.tsx
Due: lint-js

fix(perf): optimize expanded view animation and verify bundle
  apps/web/src/components/ExpandedView/ExpandedView.module.css
Due: none

fix(ui): replace morph animation with stable scale/fade modal
  apps/web/src/components/ExpandedView/ExpandedView.module.css
  apps/web/src/components/ExpandedView/ExpandedView.tsx
  apps/web/src/components/ProjectCard/ProjectCard.tsx
  apps/web/src/data/projects.ts
Due: lint-js

feat(web): implement mobile responsiveness and performance benchmarks
  apps/web/src/components/AIChat/AIChat.module.css
  apps/web/src/components/ExpandedView/ExpandedView.module.css
  apps/web/src/components/ExpandedView/ExpandedView.tsx
  apps/web/src/components/Header/Header.module.css
  apps/web/src/components/Hero/Hero.module.css
  apps/web/src/components/ProjectCard/ProjectCard.tsx
  apps/web/src/components/ProjectGrid/ProjectGrid.module.css
  playwright.config.ts
  tests/mobile.spec.ts
Due: lint-js
